<div>
    <ul class="nav navbar-nav navbar-left">
        <li>
            <a href="#">Chartalog Demo © Kyle Kemp, 2014</a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <form class="navbar-form">

                <select class="form-control search-query">
                    <option>Add to album...</option>
                    <option>New album...</option>
                </select>

                <button href="#" class="btn btn-danger navbar-btn"><i class="fa fa-eye"></i> Share Privately</button>

                <button href="#" class="btn btn-success navbar-btn"><i class="fa fa-upload"></i> Share Publicly</button>

            </form>
        </li>
    </ul>
</div>